aiobotocore
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
alabaster
altair
annotated-types
anyio
appdirs==1.4.4
archspec
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
astropy-iers-data
asttokens==2.4.1
async-lru
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
bokeh
boltons
botocore
Bottleneck
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
colorcet
comm
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
cytoolz
dask
dask-expr
datashader
debugpy==1.8.5
decorator==5.1.1
defusedxml
diff-match-patch
dill
distributed
distro
docstring-to-markdown
docutils
et-xmlfile
executing==2.1.0
fastjsonschema
filelock
flake8
Flask
fonttools
frozendict
frozenlist
fsspec
gensim
git-filter-repo==2.47.0
gitdb
GitPython
greenlet
h11
h5py
HeapDict
holoviews
httpcore
httpx
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection
iniconfig
intake
intervaltree
ipykernel==6.29.5
ipython==8.27.0
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi==0.19.1
jellyfish
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keyring
kiwisolver
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
linkify-it-py
llvmlite
lmdb
locket
lxml==5.2.1
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.9.2
matplotlib-inline==0.1.7
mccabe
mdit-py-plugins
mdurl
mistune
mkl_fft
mkl_random
more-itertools
mpmath
msgpack
multidict
multipledispatch
mypy
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio==1.6.0
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy==1.26.4
numpydoc
opencv-python==4.11.0.86
openpyxl
overrides
packaging
pandas==2.2.3
pandocfilters
panel
param
paramiko
parsel
parso==0.8.4
partd
pathspec
patsy
pexpect
pickleshare
pillow
pkce
pkginfo
platformdirs==4.2.2
plotly
pluggy
ply
prometheus-client
prompt_toolkit==3.0.47
Protego
protobuf==4.25.3
psutil==6.0.0
ptyprocess
pure_eval==0.2.3
py-cpuinfo
pyarrow==19.0.0
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic
pydantic_core
pydeck
PyDispatcher
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyodbc
pyOpenSSL
pyparsing
PyQt5==5.15.10
PyQt5-sip
PyQtWebEngine==5.15.6
PySocks
pytest
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
pytoolconfig
pytz
pyviz_comms
PyWavelets
pywin32==306
pywin32-ctypes
pywinpty
PyYAML
pyzmq==26.2.0
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
referencing
regex
requests
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
Rtree
ruamel-yaml-conda
ruamel.yaml
ruamel.yaml.clib
s3fs
scikit-image==0.25.1
scikit-learn
scipy
Scrapy
seaborn
semver
Send2Trash
service-identity
setuptools==75.8.0
sip
six
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
stack-data==0.6.3
statsmodels
streamlit
sympy==1.13.1
tables
tabulate
tblib
tenacity
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
toml
tomli
tomlkit
toolz
torch==2.5.1
torchvision==0.20.1
tornado
tqdm
traitlets==5.14.3
truststore
Twisted
twisted-iocpsupport
typing_extensions
tzdata
uc-micro-py
ujson
ultralytics==8.0.164
unicodedata2
Unidecode
urllib3
w3lib
watchdog
wcwidth==0.2.13
webencodings
websocket-client
Werkzeug
whatthepatch
wheel==0.45.1
widgetsnbextension
win-inet-pton
wordcloud==1.9.4
wrapt
xarray==2025.1.2
xlwings
xyzservices
yapf
yarl
zict
zipp
zope.interface
zstandard
